<h1>Análisis de sentimientos en texto con Microsoft Azure Cognitive Services</h1>
<p>Prueba la api poniendo como ruta:</p>
<p> http://localhost:3000/api/v1/        Base URL</p>
<p> sentimentAnalysis/</p>
<p> entityRecognition/</p>
<p> languageDetection/</p>
<p> entityPiiRecognition/</p>